<html>
    <head>
  <meta charset="utf-8">
  <title>Domowy Serwer Plików</title>
  <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
  <h1>OPIERDOL PAŁKE </h1>
  <h2>Woźniak lubi dryblasy kutasy i jest na dicka hassyy</h2>
        
          <label for="filePart">
            <input type="file" name="files" id="filePart" multiple required>
        </label>
          <input type="submit" value="Send" id="button">
      
          <div class="bar">
            <div class="progress">

            </div>
          </div>

     <script src="js/progress.js"></script>

    </body>
</html>